<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Familien Mogensen</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="aj">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Anne & Janus
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="lr">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Louise & Rasmus
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="hk">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Hanne & Keld
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ellen">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Ellen
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mie">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Mie
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="oscar">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Oscar
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="images">
                <span class="oi oi-image" aria-hidden="true"></span> Billeder
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
