@page "/"



<PageWrapper ShowUpdated="false">
    
    <h1>Velkommen til familien Mogensens hjemmeside</h1>
    <p>Her er det muligt at finde ønskesedler på os alle sammen.</p>
    <img src="/images/legoland.jpg" style="width:100%;"/>

</PageWrapper>