<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8 col-12" style="color:blue; text-align:right;"><h4>Opdateret @EditDate</h4></div>
    </div>
    <div class="row">
        <div class="col-12">
            @ChildContent
        </div>
    </div>
</div>


@code{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string EditDate { get; set; }
}