<div>
    <h3>Anne :</h3>
    <ul>
        <li>Sengelampe</li>
        <li>Gavekort til iTunes</li>
        <li>Tøj :</li>
        <ul>
            <li><a href="https://shop.bestseller.com/dk/da/bc/kvinder/hoejhalset-pullover-17093409.html?cgid=bc-women&dwvar_colorPattern=17093409_PonderosaPine"><u>Strikket bluse</u></a></li>
            <li><a href="https://shop.bestseller.com/dk/da/bc/kvinder/toej/toppe/sloejfe-top-10216186.html?cgid=bc-womens-tops&dwvar_colorPattern=10216186_PonderosaPine"><u>Sløjfe top</u></a> str. M</li>
            <li><a href="http://www.esprit.dk/women/bekl-dning/t-shirts/basis/shirt-i-bomuldsjersey-L79653_434"><u>Langærmet t-shirt</u></a> i lyse farver, ex. basic fra Esprit</li>
            <li>Skisokker str. 38</li>
            <li>Gavekort til Esprit</li>
        </ul>
    </ul>
    <h3>Janus : </h3>
    <ul>
        <li>Støbejernsgryde til bagning f.eks. <a href="https://www.kitchenone.dk/produkt/mareld-stoebejernsgryde-4-2-liter-havblaa/?shopping_id_click=1067-1092-32880&gclid=Cj0KCQjwxNT8BRD9ARIsAJ8S5xa1CBb6Yq_6_RkwfTuR_YrF9uOAyP9UHcsFSeCjn5X7vsRDH_apGIQaAi0mEALw_wcB"><u>denne</u></a>, men også gerne større ;-)</li>
        <li><a href="http://www.silkeborgstigefabrik.dk/shop/product/plader-til-foldestige"><u>Platform til multistige</u></a></li>
        <li><a href="https://www.skiftselv.dk/koekkengrej/gefu-te-filter-armonia-g12900/?utm_source=GoogleShopping-Husholdning-Koekkengrej&utm_medium=cpc&utm_campaign=produkt&gclid=Cj0KCQjwxNT8BRD9ARIsAJ8S5xYvVWfDDq58KrJMUaWIXiyIQd85aJZ7C-cGBrDsmSM3lossIulG20YaAiGrEALw_wcB"><u>Gefu tea filter</u></a></li>
        <li>Tapedispenser (tung)</li>
        <li>Indkøbsliste med afrivelige sedler</li>
        <li>Skænkeprop til flasker</li>
        <li>Abonnement på <a href="https://www.mitblad.dk/basserne/?gclid=Cj0KCQjwxNT8BRD9ARIsAJ8S5xbcUnJWzd4m-egehJtGBNnbSRDDjzxuEsnMAJnLQUn0QW4gypZdiJwaAldCEALw_wcB"><u>Basserne</u></a></li>
        <li>Tøj : </li>
        <ul>
            <li>Cardigans enten med lynlås eller som strik med knapper evt som <a href="https://www.toejeksperten.dk/jacks-sportswear-intl-troeje?id=5714391584999"><u>denne</u></a> i str XL/56, Tøjeksperten havde flere fine... </li>
            <li>Arbejdsjakke str 56 eller XL (ikke fra Harald Nyborg)</li>
            <li>Sorte <a href="https://www.mens-wear.dk/jbs-7-pak-bambus-stromper-2000-99-9?gclid=Cj0KCQjwxNT8BRD9ARIsAJ8S5xb79ZnOdWQyaucFIkQ_oSC3-ne6lJJo-cvu_ec9zOdeg7gKyI2jofcaAqZFEALw_wcB"><u>strømper i bambus</u></a> fra JBS i str 46</li>
            <li><a href="https://www.mens-wear.dk/jbs-6-pack-bambus-tights-86112?gclid=Cj0KCQjwxNT8BRD9ARIsAJ8S5xb6HyTJy9VcZFjPiqPjiW4V-_MANIQ16JaaeFVkLCGr2nz5AebjF9waAn24EALw_wcB"><u>Boxershorts i bambus</u></a> fra JBS i str XL</li>
        </ul>
        <li>Løbetøj :</li>
        <ul>
            <li>Varme løbetights som <a href="https://www.sport24.dk/fusion-hot-long-tights.html?c=1298143"><u>disse</u></a> i str. XL</li>
            <li>Almindelige løbetights fra <a href="https://www.sport24.dk/fusion-c3-long-tights.html?c=1298196&s=1082"><u>Fusion</u></a> i str. XL</li>
            <li>Løbestrømper <a href="https://www.loebeshop.dk/falke-herre-ru4-lobesok-93756.html"><u>Falke RU4</u></a> sorte i str 46</li>


        </ul>
        <li>Bøger : </li>
        <ul>
            <li><a href="https://www.saxo.com/dk/the-pragmatic-programmer_andrew-hunt_paperback_9780201616224"><u>The Pragmatic Programmer</u></a> af David Thomas og Andrew Hunt gerne som paperback</li>
            <li>Krimier på dansk eller engelsk.... </li>
        </ul>
    </ul>
    <h3>Fælles ønsker :</h3>
    <ul>
        <li>Lagener til madrasser (90x220 cm), mørkegrøn og mørkeblå</li>
        <li>Sengelinned til 220 cm dyner, mærkegræn, blå, lyseblå, mærkeblå </li>
        <li>Tallerkener fra Royal Copenhagen (Blå Kant) frokosttallerkener og dybe tallerkener (de kan kun fås antik)</li>
        <li>Hvidvinglas : Colibri (fås i Imerco)</li>
        <li>Bestikfordeler (til skuffe til pænt bestik)</li>
        <li>Hyndebox</li>
    </ul>
</div>
            