<h3>Anne :</h3>

<ul>

    <li>Sengelampe</li>

    <li>Gavekort til iTunes</li>

    <li>Tøj :</li>

    <ul>

        <li><a href="https://shop.bestseller.com/dk/da/bc/kvinder/hoejhalset-pullover-17093409.html?cgid=bc-women&dwvar_colorPattern=17093409_PonderosaPine"><u>Strikket bluse</u></a></li>

        <li><a href="https://shop.bestseller.com/dk/da/bc/kvinder/toej/toppe/sloejfe-top-10216186.html?cgid=bc-womens-tops&dwvar_colorPattern=10216186_PonderosaPine"><u>Sløjfe top</u></a> str. M</li>

        <li><a href="http://www.esprit.dk/women/bekl-dning/t-shirts/basis/shirt-i-bomuldsjersey-L79653_434"><u>Langærmet t-shirt</u></a> i lyse farver, ex. basic fra Esprit</li>

        <li>Skisokker str. 38</li>

        <li>Gavekort til Esprit</li>

    </ul>

</ul>

<h3>Janus : </h3>

<ul>

    <li>Tapedispenser (tung)</li>

    <li>Indkøbsliste med afrivelige sedler</li>

    <li>Skænkeprop til flasker</li>

    <li>Abonnement på <a href="https://www.mitblad.dk/basserne/?gclid=Cj0KCQjwxNT8BRD9ARIsAJ8S5xbcUnJWzd4m-egehJtGBNnbSRDDjzxuEsnMAJnLQUn0QW4gypZdiJwaAldCEALw_wcB"><u>Basserne</u></a></li>

    <li>Tøj : </li>

    <ul>

        <li>Cardigans enten med lynlås eller som strik med knapper evt som <a href="https://www.toejeksperten.dk/jacks-sportswear-intl-troeje?id=5714391584999"><u>denne</u></a> i str XL/56, Tøjeksperten havde flere fine... </li>

        <li>Arbejdsjakke str 56 eller XL (ikke fra Harald Nyborg)</li>

    </ul>

    <li>Løbetøj :</li>

    <ul>

        <li>Løbestrømper <a href="https://www.loebeshop.dk/falke-herre-ru4-lobesok-93756.html"><u>Falke RU4</u></a> sorte i str 46</li>


    </ul>

    <li>Bøger : </li>

    <ul>

        <li><a href="https://www.saxo.com/dk/the-pragmatic-programmer_andrew-hunt_paperback_9780201616224"><u>The Pragmatic Programmer</u></a> af David Thomas og Andrew Hunt gerne som paperback</li>

        <li>Krimier på dansk eller engelsk.... </li>

    </ul>

</ul>

<h3>Fælles ønsker :</h3>

<ul>

    <li>Lagener til madrasser (90x220 cm), mørkegrøn og mørkeblå</li>

    <li>Sengelinned til 220 cm dyner, mærkegræn, blå, lyseblå, mærkeblå </li>

    <li>Tallerkener fra Royal Copenhagen (Blå Kant) frokosttallerkener og dybe tallerkener (de kan kun fås antik)</li>

    <li>Hvidvinglas : Colibri (fås i Imerco)</li>

    <li>Bestikfordeler (til skuffe til pænt bestik)</li>

    <li>Hyndebox</li>

</ul>
