<h3>Ellen:</h3>
<ul>
    <li>nattøj str. 4 år/104</li>
    <li>Bøger.</li>
    <li>Legetøj til 3 - 4 år, fx modellervoks og dimser til at lave modellervoksfigurer, badelegetøj mm.</li>
    <li>Badelegetøj som hedder Bathblocks, man kan bygge en bane til at hælde vand i.</li>
    <li>Kaffemaskine til legekøkenet.</li>
    <li>Penge.</li>
</ul>