<h3>Hanne :</h3>

<ul>

    22-07-2020

    <li>Folk med angst, af Fredrik Backman</li>

    <li>Liebhaver af Anne Ragde</li>

    <li>Gr&oslash;nne tallerkener fra Bitz. Str. 27 cm</li>

    <li>Halsk&aelig;de med "Little Starburst" l&aring;s fra AAGAARD. </li>

    <li>Penge til stor urtepotter.</li>

    <li>L&aelig;der Halsk&aelig;de med vedh&aelig;ng (Magnetlukke)</li>

    <li>2 store r&oslash;de og 2 sorte badeh&aring;ndkl&aelig;der</li>

    <li>Gavekort til Imerco </li>

    <li>Gavekort til Kop og Kande </li>

</ul>

<br>

<h3>Keld :</h3>

<ul>

    04-04-2020

    <li>Oplevelser!</li>

    <li>PC h&oslash;jttalere med god bas.</li>

    <li>Google home h&oslash;jttaler</li>

    <li>T-Shirt "Never underestimate a old man born in april who plays badminton"</li>

    <li>Koniske st&aring;lsk&aring;le 0,7 - 2 liter.</li>

    <li>Filteretui (Til 62 mm filtre)</li>

    <li>Teleskopstige 3.8 meter </li>

    <li>Polo'er i st&oslash;rrelse XXL </li>

    <li>
        B&oslash;ger : <ul>

            <li>Tegneserier (Ingemann, Stoffer, Lille Splint, Basserne, Blondie, Pedro m.m.)</li>

        </ul>
    </li>

    <li>
        CD'er :<ul>
            <li>Canadian Brass</li>

            <li>Lyset over Skagen</li>

            <li>Neanders Jazzband</li>

            <li>Aria</li>

            <li>Engelsk brass band. (Gerne Grimethorpe Colliery Band og lignende)</li>

        </ul>
    </li>

    <li>
        DVD'er (Helst BlueRay): <ul>

            <li>Historiske DVD'er (Danmark under bes&aelig;ttelsen og lignende) </li>

        </ul>
    </li>

</ul>
