<h3>Hanne :</h3>

<ul>

    <li>Folk med angst, af Fredrik Backman</li>

    <li>Liebhaver af Anne Ragde</li>


    <li>Krydderplantekrukker fra Bitz.</li>

    <li>Badehåndklæder røde eller sorte.</li>

    <li>Vintertrømper Ecco (Ca. 200 kr)</li>

    <li>Gavekort til sportstøj </li>

    <li>Gavekort til undertøj (Triumph)</li>

    <li>Gavekort til Imerco </li>

    <li>Gavekort til Kop og Kande </li>

</ul>

<br>

<h3>Keld :</h3>

<li>Oplevelser!</li>

<li>Spændende vine og spiritusser</li>

<li>PC højttalere med god bas.</li>

<li><a href="https://www.mapiful.com/da/streetmap-editor/#!/location/">By Plakat fra Hovedgård i A3 </a></li>

<li>Rivejern (Kile tårn).</li>

<li>T-Shirt "Never underestimate an old man born in april who plays badminton"</li>

<li>Teleskopstige 3.8 meter </li>

<li>Polo'er i størrelse XXL </li>

<li>

    Bøger : <ul>

        <li>Horsens i årtier, 1970 </li>

        <li>Tegneserier (Ingemann, Stoffer, Lille Splint, Basserne, Blondie, Pedro m.m.) Gerne abonnement.</li>

    </ul>

</li>

<li>

    CD'er :<ul>

        <li>Canadian Brass</li>

        <li>Lyset over Skagen</li>

        <li>Neanders Jazzband</li>

        <li>Aria</li>

        <li>Engelsk brass band. (Gerne Grimethorpe Colliery Band og lignende)</li>

    </ul>

</li>

<li>

    DVD'er (Helst BlueRay): <ul>

        <li>Historiske DVD'er (Danmark under besættelsen og lignende) </li>

    </ul>

</li>
