<h3>Louise:</h3>

<ul>

    <li>Lille foto-printer man kan koble direkte til telefonen. Mini sprocket hedder den.</li>

    <li>Irina the diva læbestift og lipliner farve Naturalish.</li>

    <li><a href=" https://bagebixen.dk/product/professionel-iskugleske-50mm/?gclid=Cj0KCQjw-uH6BRDQARIsAI3I-UfaLCJh-sAClK1Sz1yoc_a-G3YxUKDyJ-SxyXm7felGHsPuWdXemlEaAleYEALw_wcB">Iskugleske  (Skal være sådan en med en afsætterpind)</a></li>

    <li>Feathereye øreringe (par) fra Szhirley i guld.</li>

    <li>Catchingdreams øreringe (par) fra Szhirley i guld.</li>

    <li>Cherryontop ørering (enkelt) fra Szhirley i guld. </li>

    <li>Termokande.</li>

    <li>Bjørn Wiinblad urtepotteskjuler.</li>

    <li>Glattejern man også kan bruge til krøller, dvs ikke for bredt.</li>

    <li>Cykeltaske (til ryggen med drikkeblære) fra USWE, model outlander 3.</li>

    <li>Lille cykelpumpe man kan have med i tasken. Skal være presta valve.</li>
    <li>Multitool til at have med i tasken.</li>

    <li>Quadlock etui til iPhone X.</li>

</ul>

<h3>Rasmus: </h3>

<ul>

    <li>Skæg trimmer.</li>

    <li>Næse hårs trimmer (en Louise kan låne da hun ikke tør ønske sig en selv :-) ).</li>

    <li>MTB Vinter handsker str XL farve sort eller rød ikke selvlysende!! (100% brisker).</li>

    <li>Lang ærmet mtb t-shirts (Fox, O'neal, Loose riders).</li>

    <li>Isterninge bakker i silikone til små og store isterninger.</li>

    <li>Jigger med mål skala inden i (sprititus mål).</li>

    <li>Skænke propper i rustfrit stål til spiritus flasker (skal tåle opvasker).</li>

    <li>Muddler i træ.</li>

    <li>Barske med "kølle" i den anden ende af skeen.</li>

    <li>Hawthorne strainer med så tæt fjeder så muligt.</li>

    <li>Boston shaker (gerne med begge dele i metal).</li>

    <li>Erik Bagger a/s XO Lowball Glas.</li>

    <li>+ Alt det jeg har glemt som i ved jeg kan bruge.</li>

</ul>