<h3>Louise:</h3>

<ul>

    <li>Lille foto-printer man kan koble direkte til telefonen.</li>

    <li>MBT shorts Endura Hummvee dame str XL.</li>

    <li><a href="https://www.bikester.dk/endura-mt500-koroyd-cykelhjelm-gron-920397.html">MTB cykelhjelm, omkreds 58 cm.</a></li>

    <li>Cykelbriller med klart glas.</li>

    <li>Sportstr&oslash;mper b&aring;de korte og alm.</li>

    <li>Store indend&oslash;rs urtepotter gr&oslash;nne nuancer.</li>

    <li>Irina the Diva makeup palette.</li>

    <li>Citrontr&aelig;.</li>

    <li><a href="https://sisicph.dk/products/emmy-golden-creol-earring">Emmy Golden Creole Earring</a></li>

    <li><a href="https://butikrikke.dk/zoey-vanessa-jakke-194-0635">Zoey Vanessa jakke str. 46-48</a></li>

    <li>Overraskelser.</li>
</ul>

<h3>Rasmus: </h3>

<ul>

    <li>Erik Bagger a/s XO Ginglas</li>

    <li>Mojito morter</li>

    <li>Superdry t-shirt str XL</li>

    <li>Fox lang &aelig;rmerne mtb t-shirt str XL</li>

    <li>Smedejerns b&oslash;f v&aelig;gte evt gamle smedejerns strygejern til samme form&aring;l</li>

</ul>
