<h3>Mie:</h3>
<ul>
    <li>Nintendo Switch spil:</li>
    <li>Super Smash Bros.</li>
    <li>Mario Party.</li>
    <li>Andet:</li>
    <li>Penge til Chromebook.</li>
    <li><a href="https://www.24hshop.dk/tablet-tilbehor/tablet-ovrigt/touch-penna-med-superfin-precisionsspets-ladd?gclid=EAIaIQobChMI35DVsrLU4QIVV-J3Ch347AWjEAQYASABEgIPmvD_BwE">Touch pen til Ipad</a></li>
    <li>Ny kasse til kornetten.</li>
    <li>Side by side rulleskøjter str. 38.</li>
    <li>Overraskelser.</li>

</ul>