<h3>Mie:</h3>

<ul>

    <li>Nintendo Switch spil:</li>

    <li>Immortals Fenyx Rising. Spillet er helt nyt.</li>

    <li>Andet:</li>

    <ul>

        <li>Penge til Chromebook.</li>

        <li>Adidas / Hummel bukser og t-shirt sort bluse grå eller sort eller grøn størrelse 164.</li>

        <li>Tur til en sko butik for at købe et par Nike sko.</li>

        <li>Overraskelser.</li>

    </ul>

</ul>