<h3>Mine fødselsdags og juleønsker:</h3>

<ul>
    <li style="list-style: none"><img width="480" height="680" src="/images/Jul_1-2.jpg" /></li>
    <li style="list-style: none"><img width="480" height="680" src="/images/Jul_3-4-5.jpg" /></li>
    <li style="list-style: none"><img width="480" height="680" src="/images/Jul_6-7.jpg" /></li>
    <li style="list-style: none"><img width="480" height="620" src="/images/Jul_8-9.jpg" /></li>
    <li style="list-style: none"><img width="480" height="320" src="/images/Jul_10-11-12.jpg" /></li>                                                                           
    <li style="list-style: none"><img width="480" height="730" src="/images/Cykel_1-2-3.jpg" /></li>
    <li style="list-style: none"><img width="480" height="680" src="/images/Cykel_4-5.jpg" /></li>
    <li style="list-style: none"><img width="480" height="700" src="/images/Cykel_6-7.jpg" /></li>
    <li style="list-style: none"><img width="480" height="330" src="/images/Cykel_8.jpg" /></li>
</ul>